*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans',sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    color: rgb(5, 2, 2);
    font-size: 20px;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
}
nav h1{
    margin-left: 300px ;
    color: green;
    font-weight: bold;

}
nav ul{
    display: flex;
    margin-right: 350px;
}
nav ul li{
   margin: 20px;
   list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
nav ul li a:hover{
    background-color: transparent;
    border: 2px solid rgb(86, 182, 86);
    padding: 5px;
    border-radius: 20px;
}
.singup{
    background-color:rgb(86, 182, 86) ;
    border-radius: 20px;
}

.singup:hover{
    border:2px solid rgb(86, 182, 86);
    border-radius: 20px;

}
.headr{
    display: flex;
}
.divv{
    height: 700px;
    width: auto;
}
.divv img{
    background-image: url('img1.jpg');
    height: 700px;
    width: 1520px;
}
.text{
    position: absolute;
    height: 500px;
    width: 600px;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
    
}
.all-text{
    margin-top: 150px;
    padding: 20px;
}
.all-text h1{
    color: black;
    font-size: 80px;
    text-transform: capitalize;
   
}
.all-text p{
    font-size: 25px;
    color: black;
    text-transform: capitalize;
    margin: 5px;
    letter-spacing: 2px;
    font-weight: 5;
}
.btn{
    
    color: black;
    text-decoration: none;
    border: 2px solid  rgb(86, 182, 86);
    padding: 13px 30px;
    font-weight: bold;
    transition: 1s;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
}
.btn:hover{
    background-color: rgb(86, 182, 86);
    border: 2px solid black;
}
.row{
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1520px;
    height: 400px;
    margin: 0;
    padding: 13px 250px;
   
}
.box{
    background-color: white;
    width: 330px;
    height: 400px;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    margin-top: -100px;
}
.box img{
    width: 220px;
    height: 100px;
    margin: 0;

}

.box h3{
    font-size: 20px;
    padding: 25px;
    color: rgb(86, 182, 86);
    font-weight: bold;

}
.box p{
    color:  rgb(162, 224, 162);
    padding-top: 20px;
    line-height: 20px;
}
.box button{
    width: 150px;
    height: 40px;
    background-color: rgb(86, 182, 86);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}
.grid{
    display: flex;
    flex-direction:column;
    background-color:white;
    height: 1000px;
    width: 1520px;
    align-items: center;
    padding: 100px;
 }
.txt{
    height: 100px;
    width: 600px;
    text-align: center;
    margin-bottom: 30px;    
}
.txt h1{
    font-weight: bold;
    margin-bottom: 20px;
}
.txt p{
    font-size: 18px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 5px;
    padding: 5px;
   
}
.grid-container img{
    width: 350px;
    height: 350px;
}
.featurs{
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    height: 640px;
    width: 1520px;
    align-items: center;
    padding: 70px;

}
.textt{
    height: 120px;
    width: 800px;
    text-align: center;
    margin-bottom: 50px;
}
.textt h1{
    font-weight: bold;
    margin-bottom: 10px;
}
.textt p{
    font-size: 20px;
}

.boxs{
    display: flex;
    justify-content: space-between;
    height: 300px;
    width: 1520px;
    padding: 30px 90px;
    margin-bottom: 10px;
}
.box-1{
    width: 300px;
    height: 300px;
    text-align: start;
    padding: 30px;
}
.box-1 h1{
    font-size: 30px;
    margin-bottom: 10px;

}
.box-1 p{
    font-style: italic;
    font-size: 20px;
}
.cont{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: white;
  padding: 80px 200px;
  height: 500px;
  width: 1520px;
}
.cont div{
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  height: 350px;
  width: 300px;
}
.cont img{
    height: 350px;
    width: 300px;

}
.cont .t{
    padding: 50px 10px;
    border: 2px solid rgb(78, 188, 78);
}
.cont h1{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.cont p{
    font-size: 20px;
    line-height: 1.5s;
}
.last{
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 1520px;
}
.last-1{
    height: 600px;
    width: 760px;    
}
.last-1 img{
    height: 600px;
    width: 760px;
}

.last-2{
    height: 600px;
    width: 760px;
    padding: 200px 20px;   
    margin-left: 30px; 
}
.last-2 h1{

    font-weight: bold;
    margin-bottom: 10px;

}
.last-2 p{
    font-size: 15px;
    line-height: 1.5;

}
.bt{
    color: black;
    text-decoration: none;
    border: 2px solid  rgb(86, 182, 86);
    padding: 13px 30px;
    font-weight: bold;
    transition: 1s;
    
    border-radius: 20px;
}

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: #24262b;
    padding: 70px 0px;
    margin-top: 500px;
}
ul{
    list-style: none;

}
.footer-col{
    width: 25%;
    padding: 0px 15px;

}
.footer-col h4{
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;

}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
      
    }
}.container{
    max-width: 1170px;
    margin: auto;
}
.rows{
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: #24262b;
    padding: 70px 0px;
    margin-top: 0px;
}
ul{
    list-style: none;

}
.footer-col{
    width: 25%;
    padding: 0px 15px;

}
.footer-col h4{
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;

}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
      
    }
}


